@charset "utf-8";
/*
 * FF
 * zx 2014 04 30
 */

/* Reset
================================================================================================= */
html{}
body{font-family:Helvetica,"Microsoft Yahei",simsun,arial,sans-serif;color:#000;font-size:12px;line-height:1.666em;background: #fff;}
h1,h2,h3{font-size:100%;}
body,h1,h2,h3,h4,ul,li,p,img,div{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}

/* Commonly Used
================================================================================================= */
a{text-decoration:none;color:#000;outline: none;}
a:hover{color:#000}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}
.fl{float: left}
.fr{float: right;}
.column{width:1100px;margin:0 auto;}
.transition{-webkit-transition: all 0.4s linear;-moz-transition: all 0.4s linear;-o-transition: all 0.4s linear;-ms-transition: all 0.4s linear;transition: all 0.4s linear;}

/* FF Used
================================================================================================= */
.page{background: white;position: relative;z-index: 2;margin-bottom: 550px;}
.header{height: 66px;position: relative;z-index: 40;}
	.header-inner{height: 66px;position: relative;z-index: 2; width: 100%;font-size: 14px;line-height: 60px;background: white;}
	.header-fixed .header-inner{position: fixed;top: 0;z-index: 100;}
	.logo{background: url('../images/logo.png') no-repeat;width: 14px;height: 14px;position: absolute;left:32px;top:24px;}
	.language{position: absolute;right: 98px;top:0;}
	.search{background: url('../images/hd_search.png') no-repeat;text-indent: -9999px;overflow: hidden; width: 17px;height: 17px;position: absolute;right:46px;top:22px;}
	.search-close{background: none;text-indent: 0;line-height: 17px;font-size: 24px;text-align: center; color: #666;}
	.nav{width: 1100px;margin: 0 auto}
		.navitem{float: left;margin: 0 40px 0 0;display: inline ;font-weight: 100;color: #555;}
	.search-wrap{height: 96px; line-height: 96px; background:#e9e9e9;display: none; }
		.search-wrap-inner{width: 1100px;margin: 0 auto; font-weight: 100;}
		.search-wrap-inner input[type="submit"]{float: right;width: auto;margin-top: 35px;cursor: pointer;}
		.search-wrap-inner input{background: none;border: none;width: 80%;outline: none; font-size: 14px;font-weight: 100;font-family: inherit;}
		.search-wrap-inner input::-webkit-input-placeholder{color: black;}
		.search-wrap-inner input:-moz-placeholder{color: black;}
		.search-wrap-inner input::-moz-placeholder{color: black;}
		.search-wrap-inner input:-ms-input-placeholder{color: black;}

.pagetit{background: #f0f0f0;height: 85px;line-height: 85px;position: relative;}
	.pagetit h1{color:#000;font-size: 48px;width: 1100px;margin: 0 auto}
	.pagetitarr{position: absolute;width: 24px;height: 16px;background: url('../images/pagetitarr.png') no-repeat 0 0;right: 150px;top:40px;}
	.pagetitarrbottom{background-position: top right;right:55px;}
.banpho{text-align: center;background: white;overflow: hidden; position: relative;}
	.banpho img{width: 100%}
	.banpho-con{position: absolute;top: 50%;margin-top: -100px;left: 50%;margin-left: -165px;width: 330px;height: 200px;color: white;font-size: 14px;font-weight: bold;text-transform: uppercase;line-height: 50px;}
	.banpho-con img{width: auto;}

	.banpho-bt{width: 208px;height: 50px;border: 2px solid white;position: relative;margin: 0 auto;}
	.banpho-bt-l,.banpho-bt-r{position: absolute;left: -55px;width: 45px;border:2px solid white;background: none;height: 50px; top: -2px; background: url(../images/home_bio_an.png) no-repeat 16px center ;}
	.banpho-bt-r{left: auto;right: -55px; background-position: -253px center;}
	.banpho-bt-l:hover{ background-position: -42px center; }
	.banpho-bt-r:hover{ background-position: -192px center;}
	.banpho-bt-c{height: 100%;overflow: hidden;cursor: pointer;}
	.banpho-bt-c div:hover{margin-top: -100px;}
	
/**/
.banner_footer{background: url('../images/banner_ft.png') repeat;height: 360px;}
	.banft_txt{text-align: center;padding: 160px 0 0;color:#fff;line-height: 30px;}
	.banft_txt p{text-align: center;font-size: 24px;font-style:italic }
	.banft_txt span{font-size: 14px;display: block;}
/**/
.footer{background: #000;height: 370px;padding:180px 0 0 ; position: fixed;width: 100%;bottom: 0;}
	.ft_con{width: 1000px;margin: 0 auto 0;color:#555;font-size: 14px;}
		.ft_mod{float: left;width: 250px;}
			.ft_mod h3{}
				.ft_find h3{padding:0 0 0 8px}
				.ft_network h3{padding:0 0 0 26px}
			.ft_mbd{padding: 35px 0 0}
				.ft_mbd p{padding: 0 0 18px;}
			.ft_findmbd{width: 120px}
				.find_item{float: left;background: url('../images/ft_find.png') no-repeat 0 0;width: 60px;height: 60px;}
				.find_item2{background-position: right top}
				.find_item3{background-position:  0px -60px}
				.find_item4{background-position:  -60px -60px;}
				.find_item5{background-position:  0px -120px;}
			.ft_workmbd{width: 250px;height: 200px;padding-top:10px;}
				.work_item{float: left;background: url('../images/ft_network.png') no-repeat 0 0;width: 125px;height: 100px;}
				.work_item2{background-position: right top}
				.work_item3{background-position: bottom left}
				.work_item4{background-position: right bottom}


.section{}
/*section awards*/
.sec_awards{padding:50px 0}
	.sectit{text-align: center;line-height: 80px;font-size: 48px;}
	/**/
	.awardicons{margin: 0 auto;width: 1100px;padding:50px 0 }
		.awardicons img{float:left;margin:0 86px 10px;float: left}
	/**/
	.awardfilter{width: 1100px;margin: 0 auto;height: 130px;}
		.awardfilter_item{float: left;width: 300px;height: 50px;}
		.awardfilter_item2{float: right;width: 180px;height: 54px;}
			.awardfilter_btn{background: #000 ;color:#fff;font-size: 14px;border: 0;font-weight: bold;width: 180px;height: 54px;line-height: 54px;cursor: pointer;}
				/**/
			.selitem {position: relative;display: inline-block;background-color: #fff;font-size: 14px;}
			.selitem .selitem_tips {position: absolute;display: block;width: 150px;padding-left:25px;font-weight: bold;height: 50px;line-height: 50px;border: #000 solid 2px;background: #fff url('../images/selitem_icon.png') no-repeat 150px center;}
			.selitem:hover .selitem_tips {background-color: #fff;;cursor: pointer}
			.selitem select {position: absolute;top: 0;left: 1px;width: 178px;height: 55px;opacity: 0;filter: alpha(opacity: 0;);color: #000;}
			.selitem select option {text-indent: 25px;line-height: 40px;display: block;}
			.selitem select option:hover {background-color: #000;color: #fff;}
	.awardlist{width: 1100px;margin: 0 auto}
		.awardlist table{width: 100%;}
		.awardlist td{text-align: center;font-size: 14px;font-weight: bold;line-height: 30px;}
		.even{background: #ebebeb;}

/*section jobs*/
.sec_jobs{padding:106px 0 0;width: 1050px;margin: 0 auto 80px;}
	.jobsitem{float: left;width: 332px;border-top:#000 solid 22px;float: left;margin: 0 8px 80px;height: 390px;font-size: 14px;color:#666}
		.jobsitem h3{font-size: 24px;text-transform: uppercase;padding: 50px 0 0;color:#000}
		.jobsitem h4{padding: 16px 0;color:#000}
		.jobs_more{height: 50px;width: 175px;text-align: center;line-height: 50px;border: #000 solid 2px;display: block;margin: 40px auto 0;background: #fff;cursor: pointer;}

/* secction contact */
.sec_contact{width: 1100px;margin: 0 auto}
.contact_tit{font-size: 36px;padding:100px 0;text-align: center;line-height: 40px;}
	.contact_item{}
		.contact_item h3{font-size: 16px;border-bottom: #000 solid 1px;text-transform: uppercase;height: 32px;padding:0 8px;}
		.contact_con{padding:8px 8px 40px;font-size: 14px;}
			.contact_conl{float:left;width: 520px;padding-bottom: 40px;}
			.contact_conr{float:right;width: 510px;padding:0 10px 40px 0;}
			.contact_con h4{padding:15px 0;}
			.contact_txt{height: 125px;}
				.contact_city{float: left;}
				.contact_ad{float: left;padding-left:20px;width: 180px}
					.contact_ad p{padding: 0 0 10px;}

	.contact_table{margin: 120px 0 80px}
		.contact_table table{width: 100%;text-align: center;border-collapse:separate;border-spacing:8px;}
		.contact_table td{text-align: center;font-size: 18px;text-transform: uppercase;border:#000 solid 1px;height: 66px;}
		.con_tbblack{background: #000;color:#fff}
	.contact_mail{font-size: 14px;margin: 0 0 110px;}
		.contact_mail table{width: 100%;line-height:50px;}
		.contact_mailtit{border-bottom:#000 solid 1px;font-weight: bold;}
		.contact_maill{text-align: left}
		.contact_mailc{text-align: center}
		.contact_mailr{text-align: right;}
	.contact_map{background: url('../images/contact_map.jpg') no-repeat center;height: 397px;width: 100%;}

/* section about */
.sec_about{}
	.about_crumbs{font-size: 14px;text-align: center;text-transform: uppercase;padding:50px 0 ;}
	.about_txt{text-align: center;font-size: 14px;font-weight: bold;padding: 0 0 70px}
		.about_txt p{font-size:36px;line-height: 42px;padding:0 0 10px;}
	.about_down{height: 120px}
		.about_downbtn{font-size: 14px;width: 175px;height: 50px;line-height: 50px;font-weight: bold;margin: 0 auto;display: block;border:#000 solid 2px;text-align: center}
	.about_timeline{width: 1100px;margin: 0 auto}
		.timeline_item{}
			.timeline_left{float: left;width: 530px;}
			.timeline_right{float: right;width: 480px;padding-right: 40px}
				.timeline_txt{font-size: 16px;color:#666;padding: 0 0 25px}
				.timeline_pho{background: url('../images/timeline_pho.png') no-repeat top right;width: 530px;height:250px }
				.timeline_txt2{font-size: 16px;font-weight: bold;text-transform: uppercase;padding: 0 0 25px}
			.timeline_2013left{text-align: right;}
				.timeline_2013txt{padding: 0 0 120px}
			.timeline_2013right{padding-top: 180px}
				.timeline_2013right p{padding: 20px 0 0}
			.timeline_2012txt{text-align: right;font-size:36px;font-weight: bold;text-transform: uppercase; line-height: 45px;color:#000;}
			.timeline_2012right p{margin: 10px 0 20px}
			.timeline_2011left p{text-align: right;padding: 0 0 25px}
			.timeline_2011right{padding:80px 0 0 }
				.timeline_2011right p{padding: 0 0 25px}
					.timeline_txt2011{color:#000;text-transform: uppercase;}
		.timeline_year{font-size:48px;font-weight: bold;text-align: center;line-height: 125px }

/* section press */
.sec_press{}
	.press_crumbs{font-size: 14px;text-align: center;text-transform: uppercase;padding:50px 0 ; color:#999;}
	.press_txt{text-align: center;font-size: 36px;padding: 0 0 70px;line-height:40px }
	.press_year{font-size: 36px;font-weight: bold;text-align: center;line-height: 40px}
	.press_list{width: 1100px;margin: 0 auto 50px}
		.press_item{font-size: 14px;color:#666;width: 180px;float: left;display: inline;margin: 50px 46px 0;position: relative;cursor: pointer;}
			.cover_img{position: absolute;top:0;left:0;z-index: 1;clip:rect(0px 0px 0px 0px);}
			.press_img{width: 180px;height: 241px}
			.press_item h3{color:#000;text-transform: uppercase;padding:20px 0 18px;}
			.press_item strong{color:#000;text-transform: uppercase;display: block}
			.press_itemtxt{height: 75px;overflow: hidden;border-bottom: #d4d4d4 solid 1px;margin:0 0 5px;}
			.press_itempage{float: left}
			.press_itemdown{background: url('../images/press_downicon.png') no-repeat center;width: 22px;height: 22px;float: right;}

/* section home */
.sec_home{}
	.home-slider{position: relative;z-index: 2;}
		.home-slider-inner{background: white;}
		.slider-item{float: left;display: none;position: relative;height: 100%;overflow: hidden;opacity: 0;filter:alpha(opacity=0);}
		.video-wrap{position: absolute;top: 0; left: 0; width: 100%;height: 100%;}
	.home_news{font-size: 36px;text-align: center;line-height:45px ;width: 1000px;margin: 0 auto;font-weight: bold;overflow: hidden;}
		.home_news h2{font-size: 48px;line-height: 145px;}
		.home_news_inner p{float: left; width: 1000px;}
		.home_newspage{width: 172px;text-align: center;font-size: 14px;margin: 30px auto 0;position: relative;}
		.home_newspage span{font-weight: normal;}
			.home_newspicon{position: absolute;width: 20px;height: 20px;background: url('../images/home_newspicon.png') no-repeat 4px center;top:12px;}
				.home_newsprev{left:0;}
				.home_newsnext{right: 0;background-position: -147px center;}
				.home_newsprev:hover{background-position: -37px center;}
				.home_newsnext:hover{background-position: -111px center;}
	.home_view{width: 1100px;margin: 70px auto 90px}
		.home_viewlogo{padding:30px 0 0;font-size: 14px;font-weight: bold;width: 40px;text-align: center;float: left}
		.home_tlogo{background: url('../images/home_tlogo.png') no-repeat top center;}
		.home_wlogo{background: url('../images/home_wlogo.png') no-repeat top center;}
		.home_viewtxt{float: left;width: 300px;margin: 0 0 0 25px;color:#666;}
			.home_viewtxt a{color:#000}
		.home_weibo{margin: 30px 0 40px}
		.home_viewbtn{width: 370px;margin: 0 auto}
			.home_viewbtn a{font-size: 14px;font-weight: bold;border:#000 solid 1px;width: 175px;height: 50px;line-height: 50px;text-align: center;float: left;margin: 3px;display: inline}
	.home_campaign{background: #f7f7f7;padding:0 0 190px;position: relative;}
		.home_campaign h2{font-size:48px; text-align:center;line-height: 220px;}
		.home_camcon{width: 1100px;margin: 0 auto}
			.cam_item{text-align: center;width: 365px;font-weight:bold;line-height: 30px;float: left;margin-top: 300px;cursor: pointer;}
				.cam_item p{padding:28px 0;}
		.home_cambtn{font-size: 14px;font-weight: bold;border:#000 solid 1px;width: 175px;height: 50px;line-height: 50px;text-align: center;margin: 50px auto 0;display: block;position: absolute;left: 50%;margin-left: -88px;bottom: -90px;overflow: hidden;}
		.home_cambtn:hover div{margin-top: -100px;}
	.home_bio{height: 507px;position: relative;z-index: 1;overflow: hidden;}
		.home_bio_bg{width: 100%;position: absolute;z-index: -1;bottom: 0; min-width: 1000px;}
		.home_bio h2{font-size: 48px;line-height: 200px;text-align: center;}
		.home_biotxt{font-size: 15px;width: 1090px;margin: 0 auto}
			.home_biotxt strong{text-transform: uppercase;}
			.home_bioleft{float:left;width: 515px}
			.home_bioright{float: right;width: 515px}
		.home_biobtn{font-size: 14px;font-weight: bold;border:#000 solid 1px;width: 175px;height: 50px;line-height: 50px;text-align: center;margin: 50px auto 0;display: block;overflow: hidden;}
		.home_biobtn:hover div{margin-top: -100px;}
	.home_num{background: #333;padding:30px;}
		.home_num h2{font-size: 48px;line-height: 200px;text-align: center;line-height: 180px}
		.home_numbtn{font-size: 14px;font-weight: bold;border:#000 solid 1px;width: 175px;height: 50px;line-height: 50px;text-align: center;margin: 50px auto ;display: block;overflow: hidden;}
		.home_numbtn:hover div{margin-top: -100px;}
		.home_numtable{width: 1000px ;margin:0 auto}
		.home_numtable table{width: 100%;text-align: center;}
		.home_numtable strong{font-size: 48px;display: block;line-height: 55px}
	.home_char{height: 425px;background: url(../images/home_charbg.jpg);color: white; text-align: center;font-weight: 100;}
		.home_char i{font-size: 24px; font-style: italic;}
		.home_char span{font-size: 14px;}
		.home_char_txt{padding-top: 200px;}


/* for CATEGORIES */
.sec_gates{ background: rgba(67, 66, 66, 0.97); position: fixed;top: 66px; bottom: 0; width: 100%;z-index: 4;}
.gates-inner{width: 1100px;margin: -100% auto 0;height: 100%;}
.gates-inner a:hover,.gates-inner a.active{color: white;}
	.gates-inner-l{width: 67.8%;float: left;font-size: 44px;font-weight: bold;line-height: 2em;height: 100%;overflow: hidden;}
	.gates-inner-l a{margin-right: 100px;}
	.gates-inner-c{padding-top: 100px;width: 12%;float: left;font-size: 18px;line-height: 2em;}
	.gates-inner-r{padding-top: 100px;width: 20.2%;float: left;font-size: 18px;line-height: 2em;text-transform: uppercase;}

/* for brands */
.sec_brands{display: none; position: absolute;top: 0px;width: 100%;z-index: 4;overflow: hidden;background: black;min-height: 100%;}
	.sec_brands_tit{background: #595959;height:88px;line-height: 88px;font-size: 44px;font-weight: bold;}
	.sec_brands h2{width: 1100px;margin: 0 auto;}
	.brands-tags{background: #3b3b3b; }
	.brands-tags p{width: 1100px;margin: 0 auto; line-height: 88px;font-size: 18px;font-weight: bold;}
	.brands-tags a{margin-right: 100px;text-transform: uppercase;}
	.brands-tags a:hover{color: white;}

	.brands-con{width: 100%;overflow: hidden;}
	.brands-con li{width: 3000px; height: 184px;position: relative;overflow: hidden;}
	.brands-mask{display: none; width: 100%;position: absolute;top: 0; left: 0;height: 100%;background: black; opacity: 0.79;filter:alpha(opacity=79);}
	.brands-con dl,.brand_movie dl{margin: 0;}
	.brands-con dt,.brands-con dd,.brand_movie dd{float: left;margin: 0 1px 1px 0; position: relative;}
	.brands-con dd,.brand_movie dd{font-size: 0;line-height: 0;height: 100%; width:0; overflow: hidden;}
	.brands-con dd img{height: 100%;}
	.brands-con dt{width: 350px;background: #030101;color: white;height: 96px;padding: 44px;}
	.brands-con dt .brands-mask{opacity: 0.40;filter:alpha(opacity=40);display: block;}
	.brand_movie dd .brands-mask{display:none;}
	.brand_movie dl{width: 200%;height: 100%;overflow: hidden;}

	.brands-con-t{font-size: 20px;font-weight: bold;}
	.brands-con-time{font-size: 14px;font-weight: 100;margin-top: 24px;}
	.brands-con-meta{font-size: 10px;font-weight: 100;color: #666;}

/* pop shade */
.shade{background: #000 ;opacity: 0.6;filter:alpha(opacity=60);position: fixed;left:0;top: 0;right: 0;bottom: 0;
	_position: absolute; z-index: 20000; display: none;}
.pop{background: #000;position: fixed;left:50%;top:50% ;
	_position: absolute; z-index: 20000; display: none;}
/*pop_jobs*/
.pop_jobs{width: 860px;height: 500px;margin: -275px 0 0 -517px;padding:50px 84px 0;font-size: 14px;}
	.pop_jobcon{color:#fff;height: 380px;width: 750px;}
		.pop_jobcon h3{font-size: 24px;text-transform: uppercase;padding: 30px 0 0;color:#fff}
		.pop_jobcon h4{padding: 16px 0;color:#fff}
	.pop_jobs .jobs_more{height: 50px;width: 175px;text-align: center;line-height: 50px;border: #fff solid 2px;display: block;margin: 40px auto 0;background: #000;cursor: pointer;color:#fff}
	.jobshare{color:#fff;font-size: 14px;position: absolute;left:90px;bottom:40px;}
		.jobshare strong{float: left;padding:7px 15px 0 0}
		.jobshareitem{float:left;background: url('../images/jobsshare.png') no-repeat;width: 30px; height:30px;display: inline;margin: 0 6px;}
		.jobshare_fb{background-position: 0 -30px;}
		.jobshare_t{background-position: 0 -60px;}

	.popicon{background: url('../images/popicon.png') no-repeat;height: 30px;width: 30px;position: absolute;right:80px;cursor: pointer;}
	.popclose{top:50px;}
	.popprev{background-position: 0 -30px;top:150px}
	.popnext{background-position: 0 -60px;top:250px;}
	.popnum{top:200px;position: absolute;right: 80px;color:#666;line-height: 30px;}
.pop_press{padding: 0 95px 0 0;margin:0 0 0 -440px;top:auto; bottom: 100%;background: none;}
	.pop_press .popicon{right: 30px}
	.pop_press .popnum{right: 30px}
	.popdownicon{background: url('../images/popdownicon.png') no-repeat;height: 30px;width: 30px;position: absolute;right:30px;bottom:55px;cursor: pointer;}
	.pop_presspho{position: relative;z-index: 1;}
	.pop_press_menus{width: 95px;position: absolute;height: 100%;top: 0;right: 95px;background: black;z-index: 0;}



